.MainFont {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #333333;
}

.MainFont2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
}
/*
     FILE ARCHIVED ON 13:17:36 Feb 02, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:29:00 Oct 14, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 248.178
  exclusion.robots: 0.072
  exclusion.robots.policy: 0.063
  cdx.remote: 0.058
  esindex: 0.008
  LoadShardBlock: 75.698 (3)
  PetaboxLoader3.datanode: 259.765 (4)
  load_resource: 297.768
  PetaboxLoader3.resolve: 61.803
*/